<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Contact</title>


<link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">


</head>



<body>


<header>

<h1>📞 Contact City Hospital</h1>


<nav>

<a href="/">Home</a>
<a href="/dashboard">Dashboard</a>

</nav>


</header>





<div class="form-container">


<h2>Contact Information</h2>


<p>
🏥 Hospital Name: City Hospital
</p>


<p>
📍 Address: Pune, Maharashtra
</p>


<p>
☎ Phone: 9876543210
</p>


<p>
✉ Email: cityhospital@gmail.com
</p>



<h3>Emergency Service</h3>

<p>
Available 24×7
</p>



</div>




<footer>

<p>
© 2026 Hospital Management System
</p>

</footer>



</body>

</html>